@media (max-width: 991.98px) {
    #header {
        padding: 0;
    }

    .navbar-container {
        padding-bottom: 0;
    }

    .logo {
        margin: 0;
    }

    .menu__btn {
        opacity: 1;
        z-index: 3;
    }

    .navbar-menu {
        display: block;
        padding: 60px 0 0 20px;
        position: fixed;
        top: 0;
        right: -100%;
        background: #000;
        width: 250px;
        height: 100%;
        z-index: 1;
    }

    .menu-item {
        padding: 10px 0;
    }

    #menu__toggle:checked~.navbar-menu {
        visibility: visible;
        right: 0;
    }

    #menu__toggle:checked~.menu__btn span,
    #menu__toggle:checked~.menu__btn span::after {
        background: #ffffff;
    }

    #menu__toggle:checked~.menu__btn span::after {
        transform: rotate(90deg);
        bottom: 0;
    }

    #menu__toggle:checked~.menu__btn span {
        transform: rotate(-45deg);
    }

    #menu__toggle:checked~.menu__btn span::before {
        opacity: 0;
    }

    .slide-content-container {
        justify-content: end !important;
    }

    .slide-content {
        width: 85%;
    }

    .slide-title {
        font-size: 35px;
    }

    .slide-subtitle {
        font-size: 25px;
    }

    .slide-image img {
        width: 75%;
    }

    .about-content {
        padding: 0;
        width: 100%;
    }

    .fa-wrench,
    .fa-comment,
    .fa-music {
        opacity: 0;
    }

    .started-content {
        display: block;
    }

    .partners-container {
        width: 60%;
    }
}