html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Gothic Regular';
    src: url("./font/LeagueGothic/LeagueGothicRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunitosans black';
    src: url("./font/nunitosans/Nunitosansblack.woff") format("woff");
    src: url("./font/nunitosans/Nunitosansblack.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunitosans';
    src: url("./font/nunitosans/Nunitosansbold.woff") format("woff");
    src: url("./font/nunitosans/Nunitosansbold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Gothic Regular', 'Nunitosans', 'Roboto Condensed', sans-serif;
}

#header {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0 50px;
}

.navbar-container {
    padding-bottom: 20px;
}

.logo {
    margin: -10px 0 0;
}

.menu-link {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
    position: relative;
    padding: 0 25px;
}

.menu-link-home:after {
    content: '';
    width: 51px;
    height: 2px;
    background: rgb(238, 163, 207);
    position: absolute;
    bottom: 2px;
    left: 16px;
}

.menu-link:hover {
    color: white;
}

#menu__toggle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}

.header-slider {
    background: rgba(0, 0, 0, .3);
}

.header-slider-container,
.slider {
    background: transparent;
}

.bx-wrapper {
    box-shadow: none;
    background: transparent;
    border: transparent;
    height: 100%;
}

.slide-content {
    width: 65%;
}

.slide-title {
    text-transform: capitalize;
    color: white;
    font-size: 52px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
}

.slide-subtitle {
    text-transform: uppercase;
    color: rgb(238, 163, 207);
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
}

.slide-text {
    color: white;
    font-size: 17px;
    font-weight: 400;
    text-shadow: 2px 2px 4px #000;
    font-family: sans-serif;
}

.slide-image {
    padding-top: 10px;
}


#main {
    background: rgb(243, 242, 242);
}

/* section-about */

.about {
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(65, 29, 79, 1) 0%, rgba(31, 4, 45, 0.75) 40%);
    color: white;
}

.about-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    padding: 0 0 15px;
    position: relative;
}

.fa-wrench,
.fa-comment,
.fa-music {
    position: absolute;
    top: 3px;
    left: -55px;
}

.about-content {
    padding: 0 0 0 30px;
    width: 70%;
}

.about-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
}


.about-content-link {
    padding: 25px 30px 0;
}

.about-content-link a {
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 4px #000;
}

.about-content-link a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px #ffffff;
}

/* section started */

.started {
    padding: 30px 0;
}

.started-slide {
    padding-right: 20px;
}

.started-slide-content {
    padding: 35px;
    width: 80%;
    height: 80%;
    background: #ffffff;
    position: relative;
}

.started-slide-content:before {
    content: '';
    background-image: url(./img/photo.png);
    width: 48px;
    height: 51px;
    position: absolute;
    top: 20px;
    left: -30px;
}

/* .started-slide-content:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 30px solid transparent;
    border-top: 25px solid #501a1a;
    background-image: url(./img/triangle.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 40px;
    bottom: -50px;
    z-index: 10000;
} */


.started-slide-title {
    font-family: 'Gothic Regular', 'Nunitosans', 'Roboto Condensed', sans-serif;
    padding: 0 0 15px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 23px;
}

.started-slide-title span {
    color: rgb(238, 163, 207);
}

.started-slide-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.3;
}

.started-apdates {
    padding: 30px 0 0 50px;
}

.started-apdates-title {
    font-family: 'Gothic Regular', 'Nunitosans', 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    padding-bottom: 10px;
}

.started-apdates-content {
    padding-left: 80px;
    position: relative;
}

.started-apdates-content::before {
    content: '';
    background-image: url(./img/post-img.png);
    width: 49px;
    height: 49px;
    position: absolute;
    top: 0;
    left: 0;
}

.started-apdates-content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.3;
}

.apdates-content-center {
    margin: 20px 0;
}

.apdates-content-bold {
    font-weight: 700;
}

.started-apdates-link {
    margin: 15px 0;
}

.started-apdates-link a {
    font-family: 'Gothic Regular', 'Nunitosans', 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 23px;
    color: #000;
    text-shadow: 2px 2px 8px #000;
}

.started-apdates-link a:hover {
    text-decoration: none;
    text-shadow: none;
}

.main-line {
    width: 100%;
    height: 2px;
    background: rgb(128, 128, 128);
    margin: 30px 0;
}

/* section partners */

.partners-container {
    width: 40%;
    margin: auto;
}

.partners-slide {
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}