html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap'); */

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/LeagueGothic/LeagueGothicRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

#header {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0 50px;
}

.navbar-container {
    padding-bottom: 20px;
}

.logo {
    margin: -10px 0 0;
}

.menu-link {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
    position: relative;
}

.menu-link-home:after {
    content: '';
    width: 51px;
    height: 2px;
    background: rgb(238, 163, 207);
    position: absolute;
    bottom: 2px;
    left: 16px;
}

.menu-link:hover {
    color: white;
}

#menu__toggle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}

.header-slider {
    background: rgba(0, 0, 0, .3);
}

.header-slider-container,
.slider {
    background: transparent;
}

.bx-wrapper {
    box-shadow: none;
    background: transparent;
    border: transparent;
    height: 100%;
}

.slide-coontent {
    padding: 70px 45px 70px 100px;
}

.slide-title {
    text-transform: capitalize;
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
}

.slide-subtitle {
    text-transform: uppercase;
    color: rgb(238, 163, 207);
    font-size: 25px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
}

.slide-text {
    color: white;
    font-size: 19px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
}

.slide-image {
    padding-top: 10px;
}

.about {
    padding: 50px 0;
}

.about-container {
    padding: 0 100px;
}

.about-content {
    padding: 0 0 0 30px;
}